{{yield}}
{{#each I in inputs}}
  {{#if I.isText}}
    <div class="input-field">
      {{input id=I.id type="text" value=I.value}}
      <label {{bind-attr for=I.id}}>{{I.input}}</label>
    </div>
  {{/if}}
  {{#if I.isRadio}}
    <p class="radio">
      {{input name="group1" id=I.id checked=I.value type="radio"}}
      <label {{bind-attr for=I.id}}>{{I.input}}</label>
    </p>
  {{/if}}
  {{#if I.isCheckBox}}
    <p class="checkbox">
      {{input id=I.id type="checkbox" checked=I.value}}
      <label {{bind-attr for=I.id}}>{{I.input}}</label>
    </p>
  {{/if}}
  {{#if I.isSwitch}}
    <div class="switch">
      <p>{{I.input}}</p>
      <label>
        {{I.off}}
        {{input type="checkbox" checked=I.value}}
        <span class="lever"></span>
        {{I.on}}
      </label>
    </div>
  {{/if}}
  {{#if I.isRange}}
    <p>{{I.input}}</p>
    <p class="range-field">
      {{input type="range" min="0" max="100" value=I.value}}
    </p>
  {{/if}}
  {{#if I.isDate}}
    {{input id=I.id type="date" class="datepicker" value=I.value}}
    <label {{bind-attr for=I.id}}>{{I.input}}</label>
  {{/if}}
  {{#if I.isSelect}}
    {{view "select" selection=I.value
        content=I.selections
        optionValuePath="content.value"
        optionLabelPath="content.option"}}
    <label {{bind-attr for=I.id}}>{{I.input}}</label>
  {{/if}}
{{/each}}
<button {{action 'sendFormData'}}>Send</button>
