<div class="row">
  {{md-input label="First Name"
    value="Mike"
    class="col s6"}}
  {{md-input label="Last Name"
    value="North"
    class="col s6"}}
</div>

<div class="row">
  {{md-input label="Disabled"
    disabled=true
    class="col s12"
    value="I am not editable"}}
</div>
<div class="row">
  {{md-input label='Phone'
    class="col s12"
    mask='(111) 111-1111'
    placeholderChar='X'}}
</div>
<div class="row">
  {{md-input label="Password"
    type="password"
    class="col s6"
    placeholder="Enter a password"}}

  {{md-input label="Email"
    type="email"
    class="col s6"
    value="test@example.com"}}
</div>
