{{#md-form class='card-panel grey lighten-4' as |f|}}
  <div class="row">
    {{f.text label='First Name' class='col s6'}}
    {{f.text label='Last Name' class='col s6'}}
  </div>
  <div class="row">
    {{f.email label='Email Address' class='col s12'}}
  </div>
  <div class="row">
    {{f.password label='Password' class='col s12'}}
  </div>
  <div class="row">
    {{f.date label='Birthday' class='col s6'}}
    {{f.phone label='Phone #' class='col s6'}}
  </div>
  <div class="row">
    <div class="col s6">
      <h6>Gender</h6>
      {{#f.radios as |r|}}
        {{r.radio label='Male'}}
        {{r.radio label='Female'}}
      {{/f.radios}}
    </div>
    <div class="col s6">
      <h6>Age</h6>
      {{#f.radios as |r|}}
        {{r.radio label='Young'}}
        {{r.radio label='Old'}}
      {{/f.radios}}
    </div>
  </div>
  <div class="row">
  {{f.btn baseButtonClass="btn-flat"
    class='blue white-text col s12'
    label='Register'}}
  </div>
{{/md-form}}