{{#md-card title=(concat "Example: " exampleName) as |c|}}
  {{#c.content}}
      {{#if (and hasBlock (eq exampleExtension 'hbs'))}}
        <div class="row">
          <div class="col s12">
            {{yield}}
          </div>
        </div>
      {{/if}}
      <div class="row">
        <div class="col {{_horizClassOption2}} s12 rendered-example">
          {{#if (eq exampleExtension 'hbs')}}
            {{partial nameOfPartial}}
          {{else}}
            {{yield}}
          {{/if}}
        </div>
        <div class="col {{_horizClassOption1}} s12 hbs-code">
          {{code-snippet name=nameOfTemplate}}
        </div>
      </div>
  {{/c.content}}
{{/md-card}}