{{#if icon}}<i></i>{{/if}}
{{input id=id value=value classNameBindings="validate:validate: errors:invalid:valid" type="text"
        required=required pattern=pattern maxlength=maxlength readonly=readonly disabled=disabled
        autocomplete=autocomplete}}
<label {{bind-attr for=id}}>{{label}}</label>
<small class="red-text">
  {{#if errors}} {{errors.firstObject}} {{else}} &nbsp; {{/if}}
</small>

