{{#if icon}}
    <i {{bind-attr class="icon :prefix"}}></i>
{{/if}}
<input type="date" {{bind-atrr id=id}} {{bind-attr class="validate:validate: errors:invalid:valid :datepicker"}}
    {{bind-attr data-value=value}} {{bind-attr required=required}} {{bind-attr readonly=readonly}}
    {{bind-attr disabled=disabled}}/>
<label {{bind-attr for=id}}>{{label}}</label>
<small class="red-text">
  {{#if errors}} {{errors.firstObject}} {{else}} &nbsp; {{/if}}
</small>

