<div class="collapsible-header {{if active 'active'}}" onClick={{action "headerClicked"}}>
  {{#if icon}}
    {{bw-compat-icon icon}}
  {{/if}}

  {{title}}
</div>

<div class="collapsible-body">
    <p>{{yield}}</p>
</div>
