<div class="collapsible-header {{if active 'active'}}" {{action "headerClicked"}}>
  {{#if icon}}
    <i class="{{icon}}"></i>
  {{/if}}

  {{title}}
</div>

<div class="collapsible-body">
    <p>{{yield}}</p>
</div>
