<div class="collapsible-header {{if active 'active'}}" {{action "headerClicked"}}>
  {{#if icon}}
  	{{bw-compat-icon icon extraClasses="prefix"}}
  {{/if}}
  
  {{title}}
</div>

<div class="collapsible-body">
    <p>{{yield}}</p>
</div>
