
{{#if icon}}
<i class="material-icons prefix">{{icon}}</i>
{{/if}}
{{pikaday-input value=startsAt format="MM/DD/YYYY"}}
<label
  for={{_inputId}}
  class={{_classesForLabel}}>
  {{label}}
</label>
{{yield}}