{{#if icon}}
  {{bw-compat-icon icon extraClasses="prefix"}}
{{/if}}

{{input id=id
  value=value
  classNameBindings="validate:validate: isValid:valid: isInvalid:invalid:"
  type=type
  required=required
  pattern=pattern
  maxlength=maxlength
  readonly=readonly
  disabled=disabled
  autocomplete=autocomplete
  autofocus=autofocus
  focusIn=(action 'inputFocusIn')
  step=step
  min=min
  max=max}}
<label for="{{id}}" data-error={{_errorString}}>{{label}}</label>
