{{#if icon}}
  {{bw-compat-icon icon extraClasses="prefix"}}
{{/if}}

<input type="date"
  id="{{id}}"
  class="{{if validate 'validate'}} {{if errors 'invalid' 'valid'}} datepicker"
  data-value="{{value}}"
  required={{required}}
  readonly={{readonly}}
  disabled={{disabled}} />

<label for="{{id}}" data-error={{_errorString}}>{{label}}</label>