{{#if icon}}
  <i class="{{icon}} prefix"></i>
{{/if}}

{{input id=id
  value=value
  classNameBindings="validate:validate: errors.firstObject:invalid:valid"
  type=type
  required=required
  pattern=pattern
  maxlength=maxlength
  readonly=readonly
  disabled=disabled
  autocomplete=autocomplete
  step=step
  min=min
  max=max}}
<label for="{{id}}">{{label}}</label>

<small class="red-text">
  {{#if errors}} {{errors.firstObject}} {{else}} &nbsp; {{/if}}
</small>
