<div class='nav-wrapper'>
  <div class='container'>
    {{#link-to 'index' class='brand-logo'}}{{name}}{{/link-to}}
    <ul class='right hide-on-med-and-down'>
      {{yield}}
    </ul>
  </div>

  <a class='button-collapse' data-activates="{{_sideNavId}}">
    <i class='mdi-navigation-menu'></i>
  </a>
</div>

<ul id="{{_sideNavId}}" class='side-nav'>
  {{yield}}
</ul>
