<li class="{{decrementClass}}">
  <a {{action 'oneBack'}}  class='decrement'>
    <i class="material-icons">chevron_left</i>
  </a>
</li>

{{#each _pages as |page|}}
  <li class="{{page.cssClass}}">
    <a {{action 'gotoPage' page.val}}>
      {{page.val}}
    </a>
  </li>
{{/each}}

<li class="{{incrementClass}}">
  <a {{action 'oneFwd'}}  class='increment'>
    <i class="material-icons">chevron_right</i>
  </a>
</li>
