<li {{action 'oneBack'}} class="{{decrementClass}}">
  <a class='decrement'>
    <i class="mdi-navigation-chevron-left"></i>
  </a>
</li>

{{#each _pages as |page|}}
  <li {{action 'gotoPage' page.val}} class="{{page.cssClass}}">
    <a>
      {{page.val}}
    </a>
  </li>
{{/each}}

<li {{action 'oneFwd'}} class="{{incrementClass}}">
  <a class='increment'>
    <i class="mdi-navigation-chevron-right"></i>
  </a>
</li>
