 <input
  name="{{_group.elementId}}-group"
  type="radio"
  class={{inputClass}}
  id="{{elementId}}-input"
  checked={{eq value _group.value}}
  onchange={{action 'onChange'}}/>
 <label for="{{elementId}}-input">
   {{label}}{{yield}}
 </label>