<span class="switch-label materialize-selectable-item-label">{{name}}</span>

<label class="{{_labelClass}}">
  <span class="offlabel">{{offLabel}}</span>
  {{input type="checkbox" disabled=disabled checked=isSelected}}
  <span class="lever"></span>
  <span class="onlabel">{{onLabel}}</span>
</label>
