<select id={{_inputId}}
  placeholder={{placeholder}}
  disabled={{disabled}}
  class={{_selectClasses}}
  {{action 'change' on='change'}}>
  {{#if _placeholderText}}
    <option value="" disabled selected>{{_placeholderText}}</option>
  {{/if}}
  {{#each _choices key="@index" as |item|}}
    <option
      value="{{item.value}}"
      selected={{eq item.value value}}
      data-icon={{item.icon}}
      class={{optionClass}}>
      {{item.text}}
    </option>
  {{/each}}
</select>
<label
  for={{_inputId}}
  class={{labelClass}}>
  {{label}}
</label>
