<label for="{{elementId}}-input">
  {{offLabel}}
  <input
    id="{{elementId}}-input"
    disabled={{disabled}}
    name={{name}}
    type="checkbox"
    checked={{value}}
    onchange={{action 'onChange'}}>
  <span class="lever"></span>
  {{onLabel}}
</label>