<label id="{{id}}" class="active">{{label}}</label>

<select onchange={{action (mut value) value="target.value"}}
        class="{{if validate 'validate'}} {{if errors 'invalid' 'valid'}}"
        disabled={{if disabled "true"}}>
  {{#if prompt}}
    <option value="" disabled selected={{unless value "true"}}>{{prompt}}</option>
  {{/if}}
  {{#each _parsedContent as |opt|}}
    <option value={{opt.value}} selected={{if (eq value opt.value) "true"}}>{{opt.label}}</option>
  {{/each}}
</select>

<small class="red-text">
  {{#if errors}}
    {{errors.firstObject}}
  {{else}}
    &nbsp;
  {{/if}}
</small>
