<div class="section index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header">Buttons</h1>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class="section">
    <div class="intro">
        <h4 class="col s12 header">The component supports many options:</h4>
        <ul>
          <li>text, default value <span class="default-value badge">null</span></li>
          <li>action, default value <span class="default-value badge">null</span></li>
          <li>icon, default value <span class="default-value badge">null</span></li>
          <li>iconPosition, default value <span class="default-value badge">left</span></li>
          <li>buttonType, default value <span class="default-value badge">null</span></li>
          <li>isDisabled, default value <span class="default-value badge">false</span></li>
        </ul>
      </div>
  </div>
  <div class="section">
    <h4 class="col s12 header">Raised</h4>
    <div class="button-example">
      {{md-btn text='Button' action='debug' class='indigo darken-2'}}
      {{md-btn text='Button' icon='mdi-action-favorite' action='debug' class='deep-purple darken-3'}}
      {{md-btn text='Button' icon='mdi-action-favorite' iconPosition='right' action='debug' class='yellow deep-purple-text text-darken-3'}}

      <pre class=" language-markup">
        <code class=" col s12 language-markup">
          <span>&#123;&#123;</span>md-btn text='Button' action='debug' class='indigo darken-2'<span>&#125;&#125;</span>
          <span>&#123;&#123;</span>md-btn text='Button' icon='mdi-action-favorite' action='debug' class='deep-purple darken-3'<span>&#125;&#125;</span>
          <span>&#123;&#123;</span>md-btn text='Button' icon='mdi-action-favorite' iconPosition='right' action='debug' class='yellow deep-purple-text text-darken-3'<span>&#125;&#125;</span>
        </code>
      </pre>
    </div>
  </div>
  <div class="section">
    <h4 class="col s12 header">Floating</h4>
    <div class="button-example">
      {{md-btn icon='mdi-action-favorite' action='debug' buttonType='floating' class='btn-large deep-purple'}}
      <pre class=" language-markup">
        <code class=" col s12 language-markup">
          <span>&#123;&#123;</span>md-btn icon='mdi-action-favorite' action='debug' buttonType='floating'  class='btn-large deep-purple'<span>&#125;&#125;</span>
        </code>
      </pre>
    </div>
  </div>
  <div class="section">
    <h4 class="col s12 header">Flat</h4>
    <div class="button-example">
      {{md-btn text='Flat button' action='debug' buttonType='flat'}}
      <pre class=" language-markup">
        <code class=" col s12 language-markup">
          <span>&#123;&#123;</span>md-btn text='Flat button' action='debug' buttonType='flat'<span>&#125;&#125;</span>
        </code>
      </pre>
    </div>
  </div>
  <div class="section">
    <h4 class="col s12 header">Submit</h4>
    <div class="button-example">
      {{md-btn-submit icon='mdi-content-send' iconPosition='right' text='Submit'}}
      <pre class=" language-markup">
        <code class=" col s12 language-markup">
          <span>&#123;&#123;</span>md-btn-submit icon='mdi-content-send' iconPosition='right' text='Submit'<span>&#125;&#125;</span>
        </code>
      </pre>
    </div>
  </div>
  <div class="section">
    <h4 class="col s12 header">Large</h4>
    <div class="button-example">
      {{md-btn text='Large button' action='debug' buttonType='large' class='deep-orange darken-2 white-text'}}
      <pre class=" language-markup">
        <code class=" col s12 language-markup">
          <span>&#123;&#123;</span>md-btn text='Large button' action='debug' buttonType='large' class='deep-orange darken-2 white-text'<span>&#125;&#125;</span>
        </code>
      </pre>
    </div>
  </div>
  <div class="section">
    <h4 class="col s12 header">Disabled</h4>
    <div class="button-example">
      {{md-btn text='Disabled button' isDisabled=true}}
      <pre class=" language-markup">
        <code class=" col s12 language-markup">
          <span>&#123;&#123;</span>md-btn text='Disabled button' isDisabled=true<span>&#125;&#125;</span>
        </code>
      </pre>
    </div>
  </div>
</div>
