<div class='section'>
    <h3>Buttons</h3>

    <h4>Raised</h4>
    <div class="button-example">
      {{materialize-button text='Button' action='debug'}}
      {{materialize-button text='Button' icon='mdi-action-favorite' action='debug'}}
      {{materialize-button text='Button' icon='mdi-action-favorite' iconPosition='right' action='debug'}}

      <pre class=" language-markup">
        <code class=" col s12 language-markup">
          <span>&#123;&#123;</span>materialize-button text='Button' action='debug'<span>&#125;&#125;</span>
          <span>&#123;&#123;</span>materialize-button text='Button' icon='mdi-action-favorite' action='debug'<span>&#125;&#125;</span>
          <span>&#123;&#123;</span>materialize-button text='Button' icon='mdi-action-favorite' iconPosition='right' action='debug'<span>&#125;&#125;</span>
        </code>
      </pre>
    </div>

    <h4>Floating</h4>
    <div class="button-example">
      {{materialize-button icon='mdi-action-favorite' action='debug' buttonType='floating'}}
      <pre class=" language-markup">
        <code class=" col s12 language-markup">
          <span>&#123;&#123;</span>materialize-button icon='mdi-action-favorite' action='debug' buttonType='floating'<span>&#125;&#125;</span>
        </code>
      </pre>
    </div>

    <h4>Flat</h4>
    <div class="button-example">
      {{materialize-button text='Flat button' action='debug' buttonType='flat'}}
      <pre class=" language-markup">
        <code class=" col s12 language-markup">
          <span>&#123;&#123;</span>materialize-button text='Flat button' action='debug' buttonType='flat'<span>&#125;&#125;</span>
        </code>
      </pre>
    </div>

    <h4>Submit</h4>
    <div class="button-example">
      {{materialize-button-submit icon='mdi-content-send' iconPosition='right' text='Submit'}}
      <pre class=" language-markup">
        <code class=" col s12 language-markup">
          <span>&#123;&#123;</span>materialize-button-submit icon='mdi-content-send' iconPosition='right' text='Submit'<span>&#125;&#125;</span>
        </code>
      </pre>
    </div>

    <h4>Large</h4>
    <div class="button-example">
      {{materialize-button text='Large button' action='debug' buttonType='large'}}
      <pre class=" language-markup">
        <code class=" col s12 language-markup">
          <span>&#123;&#123;</span>materialize-button text='Large button' action='debug' buttonType='large'<span>&#125;&#125;</span>
        </code>
      </pre>
    </div>

    <h4>Disabled</h4>
    <div class="button-example">
      {{materialize-button text='Disabled button' isDisabled=true}}
      <pre class=" language-markup">
        <code class=" col s12 language-markup">
          <span>&#123;&#123;</span>materialize-button text='Disabled button' isDisabled=true<span>&#125;&#125;</span>
        </code>
      </pre>
    </div>
  </div>
</div>
