{{example-header title="Buttons"}}

<div class='container'>
  {{#options-panel}}
    {{component-option optionId="text"}}
    {{component-option optionId="action"}}
    {{component-option optionId="actionArg" description="An object or value to be passed to action handlers when it fires"}}
    {{component-option optionId="icon"}}
    {{component-option optionId="iconPosition" default="left"}}
    {{component-option optionId="buttonType"}}
    {{component-option optionId="isDisabled" default="false"}}
  {{/options-panel}}

  <div class="section">
    <h4 class="col s12 header">Raised</h4>
    {{example-snippet snippet='buttons-raised' class="button-example"}}
  </div>

  <div class="section">
    <h4 class="col s12 header">Floating</h4>
    {{example-snippet snippet='buttons-floating' class="button-example"}}
  </div>

  <div class="section">
    <h4 class="col s12 header">Floating Group</h4>
    {{example-snippet snippet='buttons-floating-group' class="button-example"}}
  </div>

  <div class="section">
    <h4 class="col s12 header">Dropdown</h4>
    <p>Add a dropdown list to any button. Note: list items are wrapped in an &lt;ul&gt;-tag by the component.</p>

    {{example-snippet snippet='buttons-dropdown' class="button-example"}}

    {{#options-panel}}
      {{component-option optionId="hover" default="false" description="If true, the dropdown will open on hover."}}
      {{component-option optionId="constrainWidth" default="true" description="If true, constrainWidth to the size of the dropdown activator."}}
      {{component-option optionId="inDuration" default="300" description="The duration of the transition enter in milliseconds."}}
      {{component-option optionId="outDuration" default="300" description="The duration of the transition out in milliseconds."}}
      {{component-option optionId="gutter" default="0" description="This defines the spacing from the aligned edge."}}
      {{component-option optionId="belowOrigin" default="false" description="If true, the dropdown will show below the activator."}}
    {{/options-panel}}
  </div>

  <div class="section">
    <h4 class="col s12 header">Flat</h4>
    {{example-snippet snippet='buttons-flat'}}
  </div>

  <div class="section">
    <h4 class="col s12 header">Submit</h4>
    {{example-snippet snippet='buttons-submit'}}
  </div>

  <div class="section">
    <h4 class="col s12 header">Large</h4>
    {{example-snippet snippet='buttons-large'}}
  </div>

  <div class="section">
    <h4 class="col s12 header">Disabled</h4>
    {{example-snippet snippet='buttons-disabled'}}
  </div>
</div>
