{{example-header title="Cards"}}

<div class='container'>

    {{#options-panel}}
        {{component-option optionId="title"}}
        {{component-option optionId="titleClass" default="black-text"}}
        {{component-option optionId="class"}}
        {{component-option optionId="image"}}
        {{component-option optionId="activator"}}
        {{component-option optionId="bodyClass"}}
    {{/options-panel}}

    <div class="section">
        <h4 class="col s12 header">Basic Card</h4>
        {{example-snippet snippet='cards-basic' class='card-example' exampleFrameClass="col m8 s12"}}
    </div>

    <div class="section">
        <h4 class="col s12 header">Image Card</h4>
        {{example-snippet snippet='cards-image' class='card-example' exampleFrameClass="col m6 s12"}}
    </div>

    <div class="section">
        <h4 class="col s12 header">Card Reveal</h4>
        {{example-snippet snippet='cards-reveal' class='card-example' exampleFrameClass="col m6 s12"}}
    </div>

    <div class="section">
        <h4 class="col s12 header">Card Panel</h4>
        {{example-snippet snippet='cards-panel' class='card-example' exampleFrameClass="col m8 s12"}}
    </div>

</div>
