{{#x-component-doc title="md-collection" as |doc|}}
  {{#doc.params as |p|}}
    {{#p.param name="content" type="array" default=[]}}Items in collection{{/p.param}}
  {{/doc.params}}
{{/x-component-doc}}

{{#x-example name='collection-basic' title='Static Collections'}}
  <p>You can easily compose a collection of hard-coded items using the <span class="code">\{{_.item}}</span> sub-component, using either an inline or block form</p>
{{/x-example}}

{{#x-example name='collection-dynamic' title='Dynamic Collections' emberObjects=emberObjects cliObjects=cliObjects}}
<p>Passing in a <span class="code">content</span> array saves you from having to add extra <span class="code">\{{each}}</span> loops all over your templates. Both inline and block expressions are available.</p>
{{/x-example}}

{{#x-example name='collection-links' title='Links in Collections'}}
  <p>One or more items in a collection may be a link. The <span class="code">\{{_.link-to}}</span> sub-component extends the core <span class="code">\{{link-to}}</span> Ember component, allowing all the typical functionality (including the <span class="code">active</span> class) while integrating seamlessly into the collection. </p>
{{/x-example}}
{{#x-example name='collection-headers' title='Collection Headers'}}
  Adding a header is easy via the <span class="code">\{{_.header}}</span> sub-component, which may be used in either inline or bock form.
{{/x-example}}
