{{example-header title="Colors"}}

<div class="container">
	<div class="row">
		<div class="col s12">
			<h4>Use of Colors</h4>
		</div>
		<div class="col s12">
			<p>
				<ul>
					<li>{{link-to 'Background Colors' 'colors' (query-params anchor='background-colors')}} </li>
					<li>{{link-to 'Text Colors' 'colors' (query-params anchor='text-colors')}} </li>
					<li>{{link-to 'Text Colors with Variants' 'colors' (query-params anchor='text-colors-with-variants')}} </li>
				</ul>
			</p>
		</div>
	</div>
</div>

{{!-- colors --}}
<div class="container"  data-anchor='background-colors'>
	<div class="row">
		<div class="col s12">
			<h4>Background Colors</h4>
		</div>
	</div>
	<div class="row">
		{{#each colors as |color|}}
		<div class="col s12 m6 l6">
			<h4 class="{{color.base}}-text">{{color.base}}</h4>
			<div class="color-swatch-collection">
				{{#each color.variants as |cv|}}
				<div class="color-swatch {{color.base}} {{cv}} text-center">
					&lt;div class="{{color.base}} {{cv}}"&gt;
				</div>
				{{/each}}
			</div>
		</div>
		{{/each}}
	</div>
	<div class="row">
		{{#each boringColors as |color|}}
		<div class="col s12 m6 l6">
			<h4>{{color.base}}</h4>
			<div class="color-swatch-collection">
				{{#each color.variants as |cv|}}
				<div class="color-swatch {{color.base}} {{cv}} text-center">
					&lt;div class="{{color.base}} {{cv}}"&gt;
				</div>
				{{/each}}
			</div>
		</div>
		{{/each}}
	</div>
</div>

{{!-- text colors --}}
<div class="container" data-anchor='text-colors'>
	<div class="row">
		<div class="col s12">
			<h4>Text Colors</h4>
		</div>
		{{#each colors as |color|}}
		<div class="col s12 m4 l4">
			<p class="{{color.base}}-text" >
				<b>{{color.base}}</b>
			</p>
			<p>&lt;div class= "{{color.base}}-text"&gt;</p>
		</div>
		{{/each}}
	</div>

{{!-- text-color-variants --}}

  <div class="row" data-anchor='text-colors-with-variants'>
    <div class="col s12">
    <h4>Text Colors Using Darken, Lighten, or Accent</h4>
    	<p>
			To use darken or lighten in text, just add <code>text-darken-1</code> or <code>text-lighten-5</code> to the class.
		</p>
	</div>
  </div>
  <div>
    {{example-snippet snippet='text-color' class='text-color-example'}}
  </div>
</div>








