<div class="section index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header">Forms</h1>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='section'>
    <div class="intro">
      <h4 class="col s12 header">This form is in development phase:</h4>
      <ul>
        <li>You can include all materialize input types other than the icon prefix.</li>
        <li>Accepts an Object array as a parameter.</li>
        <li>The datepicker seems buggy and doesn't go back before 2000</li>
      </ul>
    </div>
  </div>
</div>

<div class='container'>
  <div class='section'>
    <div class="intro">
      <div class="col s12">
        {{materialize-form sendForm="getFormData"}}
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='section'>
    <div class="intro">
      <div class="col s12">
        <h4 class="col s12 header">It's Magic</h4>
        {{#each I in inputs}}
          {{#if I.isSelect}}
            <p>{{I.input}}: {{I.value.option}}
          {{else}}
            <p>{{I.input}}: {{I.value}}</p>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='section'>
    <div class="intro">
      <h4 class="col s12 header">Usage:</h4>
      <ul>
        <li>&#123;&#123;materialize-form inputs=objArray}}</li>
        <li>objArray should have properties such as input: "First Name".<li>
        <li>objArray should have boolean properties to tell it what kind of field such as isText: true</li>
      </ul>
    </div>
  </div>
</div>


<div class='container'>
  <div class='section'>
    <div class="intro">
      <h4 class="col s12 header">Example usage:</h4>
      <p>To create a form with only text fields your object would have an inputs parameter
         that looks like <span class='grey'>inputs: [{input: "First Name", isText: true}, {input: "Last Name", isText: true}]</span></p>
      <h4 class="col s12 header">Supported booleans</h4>
      <ul> 
        <li><strong>isText</strong>: for a text field.</li>
        <li><strong>isRadio</strong>: for a radio field.</li>
        <li><strong>isCheckBox</strong>: for a checkbox field.</li>
        <li><strong>isSwitch</strong>: for a switch button.</li>
        <li><strong>isRange</strong>: for a range field.</li>
        <li><strong>isSelect</strong>: for a selec field.</li>
      </ul>
      <h4 class="col s12 header">Select fields:</h4>
      <p>In addition to the normal expected values in an object such as input and isSelect the 
      select field also expects an additional array called selections. Example declaration of a select
      field is below.</p>
      <p>{inputs: [{input: "What would you rather eat?", isSelect: true, selections: [{value: 1, option: "BBQ"}, {value: 2, option: "Italian"},
      {value: 3, option: "Burgers"}]}]}
    </div>
  </div>
</div>

