{{example-header title="Loader"}}


<div class='container'>
  {{#options-panel}}
    {{component-option optionId="mode"
      default="indeterminate"
      description="Loader mode (determinate, indeterminate, circular)"}}
    {{component-option optionId="percent"
      default="0"
      description="Percent progress (determinate loader only)"}}
    {{component-option optionId="active"
      default="true"
      description="Whether the animation should be active or not (indeterminate loaders only)"}}
    {{component-option optionId="color"
      description="Circular loader color (null, yellow, blue, green, red). Setting this to null (default) will result in the color rotating"}}
    {{component-option optionId="size"
      default="big"
      description="Circular loader size (small, big)"}}
  {{/options-panel}}

  <!-- INDETERMINATE LOADER -->
  <div class="section">
    <h4 class="col s12 header">Indeterminate Loader</h4>
    {{example-snippet snippet='progress-indeterminate' class='loader-example'}}
  </div>

  <!-- DETERMINATE LOADER -->
  <div class="section">
    <h4 class="col s12 header">Determinate Loader</h4>
    {{example-snippet snippet='progress-determinate' class='loader-example' percent=percent}}
  </div>

  <!-- CIRCULAR DETERMINATE LOADER -->
  <div class="section">
    <h4 class="col s12 header">Circular Indeterminate Loader</h4>
    {{example-snippet snippet='progress-circular' class='loader-example'}}
  </div>

</div>
