{{example-header title="Pagination"}}

<div class='container'>
  {{#options-panel}}
    {{component-option optionId="min" default=1 required=true}}
    {{component-option optionId="max" default=1 required=true}}
    {{component-option optionId="current" default=1 required=true}}
    {{component-option optionId="range" default=5}}
  {{/options-panel}}

    <div class="section">
        <h4 class="col s12 header">Pagination</h4>
        {{example-snippet snippet='pagination-basic' class='pagination-example' page=page}}
        {{code-snippet name='pagination-controller.js'}}
    </div>
</div>
